<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/introjs.min.css" rel="stylesheet">
  <title>CT Drug Overdose Crisis</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <h1></h1>

   <!-- The main container that holds the entire page content -->
   <div class="container">

    <!-- Header row with title and description -->
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Drug Overdose Crisis Analysis in Connecticut</h1>
        <p>Use the Dropdown Menu to Interact with the Dataset</p>
      </div>
    </div>

    <!-- First row containing three columns -->
    <div class="row">

      <!-- Column for selecting a test subject -->
      <div class="col-md-3">
        <div class="well">
          <h5>Select County for Analysis:</h5>
          <!-- Dropdown select element for test subjects -->
          <select id="selDataset" onchange="optionChanged(this.value)" data-title="County select" data-intro="Choose a county to explore it's corresponding data set.">
          </select>
        </div>

        <!-- Panel displaying demographic information -->
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title" data-title="Display Panel" data-intro="This panel dynamically displays the deaths for each county.">Demographic Info</h3>
          </div>
          <!-- Placeholder for demographic information, will be filled dynamically -->
          <div id="sample-metadata" class="panel-body"></div>
        </div>    
      </div>

      <!-- Column for a pie chart -->
      <div class="col-md-4">
        <div>
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <!-- Placeholder for the pie chart, will be filled dynamically -->
          <div id="pie-chart" data-title="Pie Chart" data-intro="The pie chart displays the death percentages by race for each county. Hover over the segments of the pie chart for clearer legibility."></div>
        </div>
      </div>
       
      
   
    <!-- Column for a bar chart -->
    <div class="row"> 
    <div class="col-md-10">
      <!-- Placeholder for the bar chart, will be filled dynamically -->
      <div id="bar" class="text-center" data-title="bar chart" data-intro="This bar chart displays the types of drugs used by those who die from drug overdoses in each county. It goes from most common to least."></div>
    </div>

  </div>
  

      

      
    <!-- Second row containing a single column -->
    <div class="row">
      <!-- Column for a bubble chart -->
      <div class="col-md-12">
        <!-- Placeholder for the map -->
        <div id="map-id" class="map-container" data-title="Death Heat Map" data-intro="This map shows the various concentrations of deaths for the counties provided in the data set. Hover over the pins to see the locations and zoom in and out for more or less detail."></div>
      </div>
    </div>
  </div>

  



<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>


  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="../static/js/app.js"></script>
  <script type="text/javascript" src="../static/js/josh.js"></script>
  <script type="text/javascript" src="../static/js/nick.js"></script>
  <script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
  <!-- Our Plotly Script -->
  <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/7.0.1/intro.min.js"></script>
  <script>
    introJs().start();
  </script>

</body>

</html>



